@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}












@import url('https://fonts.googleapis.com/css?family=Poppins:700');
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to top , rgba(220, 230, 220, 1),rgba(250, 250, 250, 0.5));


  display: flex;
  align-items: center;
}

h1 {
  color: white;
  font-size: 20vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 40px;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023F92;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}











.page {

  border-radius: 32px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
  background-image: url(../assets/img/배경1.png);
  background-size: cover;
}
@media (max-width: 767px) {
  .page {
    border-radius: 32px;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;

  }
}
.container {

  display: flex;
  height: 480px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 960px;
    width: 320px;
  }
}
.left {
  vertical-align: center;
  border-left: rgba(220, 130, 35, 1) solid 0.5px;
  border-top: rgba(220, 130, 35, 1) solid 0.5px;
  border-bottom: rgba(220, 130, 35, 1) solid 0.5px;
  border-radius: 70px 0px 0px 20px;
  background:  #FAEBD7 ;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 40%;

}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  border-radius: 20px 70px 20px 20px;
  background: #2f4f4f;
  /*box-shadow: 0px 0px 10px 16px rgba(20,90,10,0.12);*/
  color: #F1F1F2;
  position: relative;
  border-right: rgba(220, 130, 35, 1) solid 0.5px;
  border-top: rgba(220, 130, 35, 1) solid 0.5px;
  border-bottom: rgba(220, 130, 35, 1) solid 0.5px;
  width: 30%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 480px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 2772;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #ffffff;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

input{
  background-color: beige;
  color: black;

}

.my-input {

}

.my-input:focus {
  animation: round 1s forwards;
}

@keyframes round {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 30px;
  }
}



