<!DOCTYPE html>
<html lang="ko" layout:decorate="~{include/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body layout:fragment="content">
<!-- Navigation-->
<link href="/assets/css/stylesProductsBuy.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://js.tosspayments.com/v1"></script>
<!-- Masthead-->
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">제품 상세 페이지</h1>
            <p class="lead mb-0">구트 럭셔리의 상품을 상세하게 보십시오.</p>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
<!--                <img alt="..." class="card-img-top"-->
<!--                                  src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"/>-->
                <img class="card-img-top" th:src="|/assets/images/upload/${products_buy.file_name}|" alt="" width="850" height="350"/>
                <div class="card-body">
<!--                    <div class="small text-muted">January 1, 2023</div>-->
                    <h2 class="card-title" th:text="${products_buy.name}"></h2>
                    <p class="card-text" th:text="${products_buy.explanation}"></p>
<!--                    <a class="btn btn-primary" href="#!">Read more →</a>-->
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">가격</div>
                <div class="card-body">
                    <div class="input-group">
                        <input aria-describedby="button-search" aria-label="Enter search term..." class="form-control"
                               th:value="|${products_buy.price}원|" type="text" readonly/>
                        <button class="btn btn-primary is-link" id="button-search" type="button" onclick="pay('카드', jsons.card);">즉시 구매하기</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">상품 취급 시 주의사항 안내</div>
                <div class="card-body">구트 럭셔리는 신중을 기울여 제품을 제작합니다. <br>제품 수명 연장을 위해 취급에 주의가 필요합니다.</div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">주의사항</div>
                <div class="card-body">
                    <ul>
                        <li>직사광선, 열 및 비에 노출되지 않도록 주의하십시오.</li>
                        <li>무거운 물건을 휴대하지 마십시오.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container px-4 px-lg-5">-->
<!--    <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">-->
<!--        <h2>제품 리스트</h2>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>제품명</th>-->
<!--                <th>상세정보</th>-->
<!--                <th>가격</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td th:text="${products_buy.name}"></td>-->
<!--                <td th:text="${products_buy.explanation}"></td>-->
<!--                <td th:text="${products_buy.price}"></td>-->
<!--                <td>-->
<!--                    <button class="button is-link" onclick="pay('카드', jsons.card);">일반결제창</button>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
<script src="/assets/js/scriptsProductsBuy.js"></script>
<!--토스 페이먼츠 스크립트-->
<script th:inline="javascript">
    let name = [[${products_buy.name}]]; //제품 id에 맞는 이름
    let amount = [[${products_buy.price}]]; //제품 id에 맞는 가격

    let tossPayments = TossPayments("test_ck_OEP59LybZ8Bdv6A1JxkV6GYo7pRe");

    function pay(method, requestJson) {
        console.log(requestJson);
        tossPayments.requestPayment(method, requestJson)
            .catch(function (error) {

                if (error.code === "USER_CANCEL") {
                    alert('유저가 취소했습니다.');
                } else {
                    alert(error.message);
                }

            });
    }

    let path = "/";
    let successUrl = window.location.origin + path + "toss/success";
    let failUrl = window.location.origin + path + "toss/fail";
    // let callbackUrl = window.location.origin + path + "va_callback";
    let orderId = new Date().getTime();

    let jsons = {
        "card": {
            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": name,
            "successUrl": successUrl,
            "failUrl": failUrl,
            "cardCompany": null,
            "cardInstallmentPlan": null,
            "maxCardInstallmentPlan": null,
            "useCardPoint": false,
            "customerName": "TEST",
            "customerEmail": null,
            "customerMobilePhone": null,
            "taxFreeAmount": null,
            "useInternationalCardOnly": false,
            "flowMode": "DEFAULT",
            "discountCode": null,
            "appScheme": null
        }
    }
</script>
</body>
</html>
