<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/include/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="content">

<!-- Navigation-->

<!-- Masthead-->
<div class="container text-center" style="border: 0px dashed rgba(192, 192, 192, 0.7);">
  <div class="card mb-3" style="max-width: 1200px;border: double 1px  #fff8de; box-shadow: rgba(200, 100, 0, 0.2) 1px 1px 1px; border-radius: 50px 0px 0px 0px;">
    <div class="row g-0" style="height: 557px;">
      <div class="col-md-6" id="img_1">
      </div>
      <div class="col-md-6">
        <div class="card-body" id="card-body">
          <h1 class="card-title" id="card-title" style="padding-left: 7%;font-family: 'Lucida Sans'; font-size: xxx-large; ">GOOTT-LUXURY</h1><br>
          <p class="card-text1" id="card-text1">GOOTT-LUXURY ist sehr gute Rucksak</p><br>
          <p class="card-text2" id="card-text2">GOOTT-LUXURY kann Ihnen Freudliche Situation geben.<br>
             Was kann ich fur Sie tun? bitte uns sagen. “Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.  Excepteur sint obcaecat cupiditat non proident.”</p>

        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 1200px;border: double 1px  #fff8de; box-shadow: rgba(200, 100, 0, 0.2) 1px 1px 1px; border-radius: 0px 0px 0px 0px;">
    <div class="row g-0" style="height: 557px;">
      <div class="col-md-6">
        <div class="card-body" id="card-body">
          <h1 class="card-title" id="card-title" style="padding-left: 7%;font-family: 'Lucida Sans'; font-size: xxx-large; ">GOOTT-LUXURY</h1><br>
          <p class="card-text1" id="card-text1">GOOTT-LUXURY ist sehr gute GeldTasche</p><br>
          <p class="card-text2" id="card-text2">GOOTT-LUXURY kann Ihnen Freudliche Situation geben.<br>
            Was kann ich fur Sie tun? bitte uns sagen. der eine Sequenz erzeugt, die mit „Lorem ipsum“ beginnt. Außerdem wird heute die Wortfolge.</p>
        </div>
      </div>
      <div class="col-md-6" id="img_2">
        <div class="card-body" >
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 1200px;border: double 1px  #fff8de; box-shadow: rgba(200, 100, 0, 0.2) 1px 1px 1px; border-radius: 0px 0px 50px 0px;">
    <div class="row g-0">
      <div class="row g-0" style="height: 557px;">
        <div class="col-md-6" id="img_3">
      </div>
        <div class="col-md-6">
          <div class="card-body" id="card-body">
            <h1 class="card-title" id="card-title" style="padding-left: 7%;font-family: 'Lucida Sans'; font-size: xxx-large; ">GOOTT-LUXURY</h1><br>
            <p class="card-text1" id="card-text1">GOOTT-LUXURY ist sehr gute Gewel</p><br>
            <p class="card-text2" id="card-text2">Wurden zunächst die wenigen Zeilen von „Lorem ipsum“ im Blindtext fortlaufend wiederholt, so dient heute der Cicero-Text als Basis vieler Lorem-ipsum-Generatoren, die darauf aufbauend längere Abschnitte erzeugen. Die Wortfolge ist so weithin üblich, dass viele Desktop-Publishing-Programme einen Menüpunkt für Blindtext haben, der eine Sequenz erzeugt, die mit „Lorem ipsum“ beginnt. Außerdem wird heute die Wortfolge.</p>
          </div>
        </div>
    </div>
  </div>
</div>
</div>



</body>
</html>
